body {
 background-color: #111314; /* Background Black */
 font: normal 0.85em/1 Helvetica,Arial,sans-serif;
 color: #444;
}

p {
 color: white;
}

.panel {
 position: relative;
 background-color: #2a2a2a; /* Panel Grey */
 overflow: hidden;
 -webkit-box-shadow: #101214 0 0 8px;
 -moz-box-shadow: #101214 0 0 8px;
 box-shadow: #101214 0 0 8px;
 z-index: 1;
 float: left;
 margin: 7px;
}

.panel>header {
 border-top: 1px solid #303334;
 border-bottom: 1px solid #151617;
 background-color: #272727;
 padding: 16px 12px 16px 26px;
 text-transform: uppercase;
 text-shadow: 1px 1px #0e0e0e;
 font-size: 12px;
 font-weight: 700;
 color: #8b8b8b;
}

.panel>footer {
 border-top: 1px solid #303334;
 border-bottom: 1px solid #151617;
 font-size: 12px;
 text-shadow: 1px 1px #0e0e0e;
 font-family: "Proxima Nova",Helvetica,Arial,sans-serif;
 background-color: #1f1f1f;
 padding: 12px;
 height: 12px;
}

.panel>section {
 border-top: 1px solid #303334;
 border-bottom: 1px solid #151617;
}

.panel-section {
 padding: 10px;
}

.panel-section h1{
 margin-top: 5px;
 margin-bottom: 5px;
 text-align: center;
 text-transform: uppercase;
 text-shadow: 1px 1px #0e0e0e;
 font-size: 62px;
 color: #9b9b9b;
}

.panel-wide {
 width: 48%;
}

.panel-money {
 width: 23.5%;
}

.panel-message {
 height: 391px;
}

.circle {
 position: absolute;
 top: 18px;
 left: 12px;
 float: left;
 background: #f39c12;
 width: 9px;
 height: 9px;
 border-radius: 50%;
}

.error {
 background: #c84d40;
}

.connected {
 background: #78ab49;
}

.subunit {
 fill: #818181; /* Map Grey */
}

.place-label {
  fill: #black;
  fill-opacity: 1;
  font-size: 10px;
  font-weight: 300;
  text-anchor: left;
}
