<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<html>
<head>
<title>Dings!</title>
<script type="text/javascript" src="http://d3js.org/d3.v3.js"></script>
<script src="http://d3js.org/topojson.v0.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
<body>
<div class="panel panel-wide">
    <header><div class="circle"></div>Germany</header>
    <section id="map"></section>
    <footer>Lieferheld.de</footer>
</div>
<div class="panel panel-money">
    <header>Average basket</header>
    <section class="panel-section"><h1><span id="average">0</span> €</h1></section>
    <footer>In a total of <span id="counter">0</span> orders.</footer>
</div>
<div class="panel panel-money">
    <header>Total revenue</header>
    <section class="panel-section"><h1><span id="total">0</span> €</h1></section>
    <footer></footer>
</div>
<div class="panel panel-wide">
    <header>Header</header>
    <section class="panel-section panel-message"></section>
    <footer>Footer</footer>
</div>
<script type="text/javascript">
var settings = {
    {% for key, value in settings.iteritems() %}'{{ key }}': '{{ value }}'{% endfor %},
};
</script> 
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
